@page
@model Restaurant.Pages.HelpCenterModel
@{
}

<div class="mb-3">
	<h1 class="h3 d-inline align-middle">Help Center</h1>
	<div class="pt-7"
		<h1><strong>Buy me coffee ---></strong></h1>
	<a class="badge bg-dark text-white ms-2" href="https://payme.uz/home/main" target="_blank">
			<img src="https://www.buymeacoffee.com/assets/img/guidelines/download-assets-1.svg" alt="Buy Me A Coffee" style="height: 30px !important;width: 100px !important;" />
	</a>
	</div>
</div>